@import "../variables";

.wrapper-add-candidate {  
  .add-candidate-window {
    z-index: 100;
    position: fixed;
    right: 2rem;
    bottom: 8rem;
    width: 18rem;
    border: 2px solid $clrPositive;
    padding: 2rem;
    background: #f6f6f6;
    border-radius: 8px;
    color: $clrDark;

    &.alert {
      background: #2447FF;
      color: white;
      text-align: center;
    }

    button {
      width: 100%;
      margin-top: 0.3rem;
    }
  }
}