@import "../variables";

.footer {
  margin-top: 15rem;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  span {
    margin-bottom: 1rem;
    font-family: Pacifico;
    font-size: 3em;
    cursor: default;
  }

  a {
    margin-bottom: 0.3rem;  
    margin-left: auto;
    margin-right: auto;
    color: $clrPositiveLight !important;

    &:hover {
      color: $clrPositiveLightHover !important;
    }
  }

  @media screen and (min-width: 1000px) {
    transform: rotate(-7deg);   
  }
}