@import "../variables";

.wrapper-input {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 0.2rem;
    font-weight: bold;
  }

  input, select {
    margin-bottom: 0.8rem;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid $clrPositive;
  }
}