@import "../variables";

.wrapper-row {
  background-color: white;
  color: $clrDark;
  border-bottom: 1px solid $clrDark;
  display: flex;
  align-items: center;

  &.being-edited, &.being-deleted {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  &.has-been-deleted {
    background-color: $clrNegative;
    color: white;

    span {
      text-align: center;
    }
  }

  .wrapper-inner-row {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    span, a, strong {
      word-wrap: break-word;
      word-break: break-word;
    }

    a {
      margin-right: auto;
    }
  }

  .material-icons {
    padding-right: 1rem;
    font-size: 2.2em;
  }

  button {
    word-break: initial !important;
  }

  .show-on-row-hover {
    display: none;
  }

  @media screen and (min-width: 1000px) {
    &:hover {
      .material-icons, button {
        display: block;
      }
    }
  }
}